<!DOCTYPE html>
<html>

<head>
    <title>About Surakshit Mat</title>
    <style>
        /* CSS Styles */
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            background-color: #ffffff;
            /* White background */
            color: #333;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgb(6, 183, 183);
        }

        h1,
        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 style="text-align: center;">About Surakshit Mat</h1>
        <img src="/images/image2.png " height="280px" width="280px" style="margin-left: 32%;margin-top:-1%;">
        <p>
            Surakshit Mat is a secure online platform for voting. We prioritize the safety and integrity of the voting
            process
            to ensure fair and transparent elections. Vote confidently with Surakshit Mat!
        </p>
        <p>
            Surakshit Mat is a secure online platform designed to facilitate fair and transparent elections. The
            platform prioritizes the safety, integrity, and privacy of the voting process to ensure confidence and trust
            among voters.

            Key features of Surakshit Mat include:

            Secure Voting: Utilizes advanced security measures to protect voter data and ensure the authenticity of
            votes cast.
            User-Friendly Interface: Offers an intuitive and accessible interface for voters to easily participate in
            elections from any device.
            Transparent Process: Provides transparency throughout the voting process, allowing voters to verify their
            votes and ensuring the integrity of election results.
            Privacy Protection: Safeguards voter privacy and confidentiality of personal information, adhering to strict
            data protection regulations.
            Support and Assistance: Offers dedicated support services to address inquiries, provide assistance, and
            ensure a smooth voting experience for all users.
            Surakshit Mat aims to enhance democracy by enabling individuals to exercise their voting rights securely and
            conveniently. By leveraging technology and robust security measures, Surakshit Mat strives to promote trust
            and credibility in electoral processes.
        </p>
    </div>
</body>

</html>