<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login to SurakshitMat</title>
  <link rel="stylesheet" href="/css/login.css">

</head>

<body>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/signup">Voter's Signup</a>
    <a href="/contactus">Contact Us</a>
  </div>
  <section class="wrapper">
    <div class="form signup">
      <header>Admin</header>
      <form action="/login_submit1" method="post" id="adminLoginForm">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="pass" placeholder="Password">
        <input type="submit" />
      </form>
    </div>

    <div class="form login">
      <header>User</header>
      <form action="/login_submit2" method="post" id="voterLoginForm">
        <input type="text" id="email" name="email" placeholder="Email">
        <input type="text" id="aadharid" name="aadharid" placeholder="Aadhar Id">
        <input type="password" id="voterPassword" name="pass" placeholder="Password">
        <input type="submit" onclick="generateAndSendOTP()" value="Login" />
      </form>
    </div>

    <script>
      const wrapper = document.querySelector(".wrapper"),
        signupHeader = document.querySelector(".signup header"),
        loginHeader = document.querySelector(".login header");

      loginHeader.addEventListener("click", () => {
        wrapper.classList.add("active");
      });
      signupHeader.addEventListener("click", () => {
        wrapper.classList.remove("active");
      });

      async function generateAndSendOTP() {
        const email = document.getElementById("email").value;
        const aadharid = document.getElementById("aadharid").value;
        const pass = document.getElementById("voterPassword").value;

        // Call the backend route to generate and send OTP
        const response = await fetch('/generateOTP', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email, aadharid, pass })
        });

        if (response.ok) {
          // Redirect to the OTP page if OTP generation is successful
          window.location.href = '/generateotppage';
        } else {
          // Display error message if OTP generation fails
          const errorMessage = await response.text();
          alert(errorMessage); // You can replace alert with other error handling mechanisms
        }
      }
    </script>
  </section>
</body>


</html>